﻿@model Biomedicina.Models.ProductoViewModel

@using (Ajax.BeginForm("RegistrarCliente", "Login", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "login-tab2" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="text-center mb-3">
        <i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
        <h5 class="mb-0">Bienvenido</h5>
        <span class="d-block text-muted">Ingresa tu email, celular y contraseña para registrarte:</span>
    </div>

    <div class="form-group form-group-feedback form-group-feedback-left">

        @Html.TextBoxFor(a => a.Cliente.UserName, new { placeholder = "Correo", @class = "form-control", name = "username", type = "email" })
        @Html.ValidationMessageFor(a => a.Cliente.UserName, "", new { @class = "validation-invalid-label" })

        @*<input type="text" class="form-control" placeholder="Your username">*@


        <div class="form-control-feedback">
            <i class="icon-user-check text-muted"></i>
        </div>
    </div>

    @*<div class="form-group form-group-feedback form-group-feedback-left">

            @Html.TextBoxFor(a => a.Cliente.Password, new { placeholder = "Password", @class = "form-control", name = "Password", type = "password" })
            @Html.ValidationMessageFor(a => a.Cliente.Password, "", new { @class = "validation-invalid-label" })

            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>
        </div>*@

    <div class="form-group form-group-feedback form-group-feedback-left">

        @Html.TextBoxFor(a => a.Cliente.Nombre, new { placeholder = "Nombre", @class = "form-control", name = "nombre" })
        @Html.ValidationMessageFor(a => a.Cliente.Nombre, "", new { @class = "validation-invalid-label" })

        @*<input type="text" class="form-control" placeholder="Your username">*@


        <div class="form-control-feedback">
            <i class="icon-user-check text-muted"></i>
        </div>
    </div>

    <div class="form-group form-group-feedback form-group-feedback-left">

        @Html.TextBoxFor(a => a.Cliente.ApPaterno, new { placeholder = "Apellido Paterno", @class = "form-control", name = "ApPaterno" })
        @Html.ValidationMessageFor(a => a.Cliente.ApPaterno, "", new { @class = "validation-invalid-label" })

        @*<input type="text" class="form-control" placeholder="Your username">*@


        <div class="form-control-feedback">
            <i class="icon-user-check text-muted"></i>
        </div>
    </div>


    <div class="form-group form-group-feedback form-group-feedback-left">

        @Html.TextBoxFor(a => a.Cliente.ApMaterno, new { placeholder = "Apellido Materno", @class = "form-control", name = "ApMaterno" })
        @Html.ValidationMessageFor(a => a.Cliente.ApMaterno, "", new { @class = "validation-invalid-label" })

        @*<input type="text" class="form-control" placeholder="Your username">*@


        <div class="form-control-feedback">
            <i class="icon-user-check text-muted"></i>
        </div>
    </div>


    <div class="form-group form-group-feedback form-group-feedback-left">

        @Html.TextBoxFor(a => a.Cliente.Telefono, new { placeholder = "Telefono", @class = "form-control", name = "telefono" })
        @Html.ValidationMessageFor(a => a.Cliente.Telefono, "", new { @class = "validation-invalid-label" })

        @*<input type="text" class="form-control" placeholder="Your username">*@


        <div class="form-control-feedback">
            <i class="icon-user-check text-muted"></i>
        </div>
    </div>

    @*<div class="form-group form-group-feedback form-group-feedback-left">
            <input type="password" class="form-control" placeholder="Your email">
            <div class="form-control-feedback">
                <i class="icon-mention text-muted"></i>
            </div>
        </div>*@

    @*<div class="form-group text-center text-muted content-divider">
            <span class="px-2">Additions</span>
        </div>

        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
                    Send me <a href="#">test account settings</a>
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
                    Subscribe to monthly newsletter
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" name="remember" class="form-input-styled" data-fouc>
                    Accept <a href="#">terms of service</a>
                </label>
            </div>
        </div>*@

    <button type="submit" class="btn bg-dark btn-block">Registrarse</button>

    if (ViewBag.Message != null)
    {

        if (ViewBag.FlagMensaje == "OK")
        {
            <br />
            <div class="alert alert-success border-0 alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <span class="font-weight-semibold">Bien hecho!</span> @ViewBag.Message
            </div>
        }
        else
        {

            <br />

            <div class="alert alert-warning border-0 alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <span class="font-weight-semibold">Advertencia! </span>@ViewBag.Message
            </div>

        }



    }
}