﻿
@*@using (Ajax.BeginForm("Login", "Login", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "login-tab1" ,OnSuccess="OnSuccess",OnComplete="OnComplete" }))
{*@
    <!-- Tabbed form -->
    <div id="modal-tabbed" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- Form -->
                <ul class="nav nav-tabs nav-justified alpha-grey mb-0">
                    <li class="nav-item"><a href="#login-tab1" class="nav-link border-y-0 border-left-0 active" data-toggle="tab"><h6 class="my-1">Iniciar Sesión</h6></a></li>
                    <li class="nav-item"><a href="#login-tab2" class="nav-link border-y-0 border-right-0" data-toggle="tab"><h6 class="my-1">Regístrate</h6></a></li>
                </ul>

                <div class="tab-content modal-body" >
                    <div class="tab-pane fade show active" id="login-tab1">
                        @Html.Partial("~/Views/Login/_FormLogin.cshtml")

                    </div>

                    <div class="tab-pane fade" id="login-tab2">
                        @Html.Partial("~/Views/Login/_FormRegistroUsuario.cshtml")

                    </div>
                </div>
                <!-- /form -->
            </div>
        </div>
    </div>
    <!-- /tabbed recovery form -->
@*}*@

