﻿@model Biomedicina.Models.ProductoViewModel
@{
    ViewBag.Title = "ResultadosProducto";

    var lstProductos = Model.lstProducto;

    var id_categoria = lstProductos.FirstOrDefault().Id_categoria;
    var lstEmpresas = Model.lstEmpresa;

}
<!-- Sidebar content -->
<div class="sidebar-content">
    <!-- Filters -->
    <div class="card">
        <div class="card-header bg-transparent header-elements-inline">
            <span class="text-uppercase font-size-sm font-weight-semibold">Filtrar productos</span>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
                <div class="form-group" id="ItemList">
                    @*<div class="form-group form-group-feedback form-group-feedback-left">
                        <input type="search" class="form-control" placeholder="Search brand">
                        <div class="form-control-feedback">
                            <i class="icon-search4 font-size-base text-muted"></i>
                        </div>
                    </div>*@

                    <div class="overflow-auto" style="max-height: 192px;">

                        @*@for (int i = 0; i < lstEmpresas.Count; i++)
                        {
                            <div class="form-check" id="@lstEmpresas[i].Id">
                                <label class="form-check-label">
                                    <input type="checkbox" name="filtroEmpresas" class="form-input-styled" onclick="return f_filtrar_x_empresa(@lstEmpresas[i].Id);" data-fouc>
                                    @lstEmpresas[i].Razon_social
                                </label>
                            </div>

                        }*@


                        @foreach (var item in lstEmpresas)
                        {

                            <div class="form-check">
                                <label class="form-check-label" for="Check_@item.Id">
                                    <input type="checkbox" name="filtroEmpresas" id="Check_@item.Id" class="form-input-styled" onclick="return f_filtrar_x_empresa(@id_categoria);" data-fouc>
                                    @item.Razon_social
                                </label>
                            </div>

                        }

                    </div>
                </div>

                @*<button type="submit" class="btn bg-blue btn-block">Filtrar</button>*@
        </div>
    </div>
    <!-- /filters -->

</div>
<!-- /sidebar content -->