﻿
@model Biomedicina.Models.ProductoViewModel
@{

    var lstProductos = Model.lstProducto;
    var lstProductoSelect = ViewBag.lstProductoSelect;

}
<div class="form-group row">
    <label class="col-form-label col-sm-3">Modelo :</label>
    <div class="col-sm-9">
        <div class="form-control-plaintext" name="Modelo" id="Modelo">@lstProductos.FirstOrDefault().Modelo</div>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-3">Empresa :</label>
    <div class="col-sm-9">
        <div class="form-control-plaintext" name="NombreEmpresa" id="NombreEmpresa">@lstProductos.FirstOrDefault().Nombre_empresa</div>
    </div>
</div>


<div class="form-group row">
    <label class="col-form-label col-sm-3">Mensaje :</label>
    <div class="col-sm-9">
        @Html.TextAreaFor(m => m.Mensaje, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Mensaje, "", new { @class = "validation-invalid-label" })

        @*<textarea name="Mensaje" id="Mensaje" rows="3" cols="3" class="form-control" placeholder="Default textarea"></textarea>*@
    </div>
</div>

@Html.AntiForgeryToken()
@if (ViewBag.Message != null)
{
    <span class="text-success">@ViewBag.Message</span>
}