﻿    @model Biomedicina.Models.ProductoViewModel
@{

    var lstProductos = Model.lstProducto;
    var lstProductoSelect = ViewBag.lstProductoSelect;

}

@using (Ajax.BeginForm("RegistrarCotizacion", "Productos", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "frmEmp" }))
{
    <!-- Horizontal form modal -->
    <div id="modal_form_horizontal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Solicitar Cotización</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>




                @Html.HiddenFor(m => m.IdProducto, new { id = "", Value = lstProductos.FirstOrDefault().Id })
                @Html.HiddenFor(m => m.IdUsuario, new { id = "", Value = "1" })


                <div class="modal-body" id="frmEmp">

                    @Html.Partial("~/Views/Productos/_FormCotizacion.cshtml")

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
                    <button type="submit" id="btnRegistrarCotizacion" class="btn bg-primary">Enviar cotización</button>
                </div>

             



                @*<form class="form-horizontal" id="RegistrarCotizacionForm">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Modelo</label>
                                <div class="col-sm-9">
                                    <div class="form-control-plaintext" name="Modelo" id="Modelo">@lstProductos.FirstOrDefault().Modelo</div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Empresa</label>
                                <div class="col-sm-9">
                                    <div class="form-control-plaintext" name="NombreEmpresa" id="NombreEmpresa">@lstProductos.FirstOrDefault().Nombre_empresa</div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Mensaje :</label>
                                <div class="col-sm-9">

                                    <textarea name="Mensaje" id="Mensaje" rows="3" cols="3" class="form-control" placeholder="Default textarea"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
                            <button type="submit" id="btnRegistrarCotizacion" class="btn bg-primary">Enviar cotización</button>
                        </div>
                    </form>*@


            </div>
        </div>
    </div>
    <!-- /horizontal form modal -->
}

