﻿@model Biomedicina.Models.ProductoViewModel
@{

    var lstProductos = Model.lstProducto;

}

<!-- Grid -->
<div class="row">

    @for (int i = 0; i < lstProductos.Count; i++)
    {

        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">
                        <a href="@lstProductos[i].Imagen_url" data-popup="lightbox">
                            <img src="@lstProductos[i].Imagen_url" class="card-img" width="96" alt="">
                            @*<div class="card-img-actions-overlay card-img">

                                    <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                                        <i class="icon-plus3"></i>
                                    </a>

                                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>*@
                            <span class="card-img-actions-overlay card-img">
                                <i class="icon-plus3 icon-2x"></i>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-0">
                            <a href="#" class="text-default">@lstProductos[i].Nombre</a>
                        </h6>

                        <a href="#" class="text-muted">@lstProductos[i].Nombre_categoria</a>
                        <a href="#" class="text-muted">@lstProductos[i].Nombre_empresa</a>

                    </div>

                    @*<h3 class="mb-0 font-weight-semibold">$49.99</h3>*@

                    @*<div>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        </div>

                        <div class="text-muted mb-3">85 reviews</div>*@

                    @*<button type="button" class="btn bg-teal-400" data-toggle="modal" data-target="#modal_form_horizontal" onclick="openModalCotizacion(@lstProductos[i].Id)"><i class="icon-cart-add mr-2"></i> Solicitar cotización</button>*@
                    @*<button type="button" class="btn bg-teal-400" onclick="openModalCotizacion(@lstProductos[i].Id)" data-target="#modal_form_horizontal"><i class="icon-cart-add mr-2"></i> Solicitar cotización</button>*@
                    @*<button type="button" class="btn bg-teal-400" onclick="@Url.Action("VerDetalleProducto", "Productos",new { idProducto = lstProductos[i].Id })"><i class="icon-cart-add mr-2"></i> Ver detalle</button>*@
                    <a class="btn bg-teal-400" href="@Url.Action("VerDetalleProducto", "Productos",new { idProducto = lstProductos[i].Id })">
                        Ver detalle
                    </a>


                </div>
            </div>
        </div>



    }
    @*<div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">
                        <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" data-popup="lightbox">
                            <img src="~/Content/global_assets/images/placeholders/placeholder.jpg" class="card-img" width="96" alt="">
                            <span class="card-img-actions-overlay card-img">
                                <i class="icon-plus3 icon-2x"></i>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-0">
                            <a href="#" class="text-default">Fathom Backpack</a>
                        </h6>

                        <a href="#" class="text-muted">Men's Accessories</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$49.99</h3>

                    <div>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                    </div>

                    <div class="text-muted mb-3">85 reviews</div>

                    <button type="button" class="btn bg-teal-400"><i class="icon-cart-add mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">
                        <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" data-popup="lightbox">
                            <img src="~/Content/global_assets/images/placeholders/placeholder.jpg" class="card-img" width="96" alt="">
                            <span class="card-img-actions-overlay card-img">
                                <i class="icon-plus3 icon-2x"></i>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-0">
                            <a href="#" class="text-default mb-0">Mystery Air Long Sleeve T Shirt</a>
                        </h6>

                        <a href="#" class="text-muted">Men's Fashion</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$25.99</h3>

                    <div>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-half font-size-base text-warning-300"></i>
                    </div>

                    <div class="text-muted mb-3">34 reviews</div>

                    <button type="button" class="btn bg-teal-400"><i class="icon-cart-add mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">
                        <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" data-popup="lightbox">
                            <img src="~/Content/global_assets/images/placeholders/placeholder.jpg" class="card-img" width="96" alt="">
                            <span class="card-img-actions-overlay card-img">
                                <i class="icon-plus3 icon-2x"></i>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-0">
                            <a href="#" class="text-default mb-0">Women’s Prospect Backpack</a>
                        </h6>

                        <a href="#" class="text-muted">Women's Accessories</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$63.99</h3>

                    <div>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-empty3 font-size-base text-warning-300"></i>
                    </div>

                    <div class="text-muted mb-3">63 reviews</div>

                    <button type="button" class="btn bg-teal-400"><i class="icon-cart-add mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">
                        <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" data-popup="lightbox">
                            <img src="~/Content/global_assets/images/placeholders/placeholder.jpg" class="card-img" width="96" alt="">
                            <span class="card-img-actions-overlay card-img">
                                <i class="icon-plus3 icon-2x"></i>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-0">
                            <a href="#" class="text-default mb-0">Overlook Short Sleeve T Shirt</a>
                        </h6>

                        <a href="#" class="text-muted">Men's Fashion</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$57.99</h3>

                    <div>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        <i class="icon-star-full2 font-size-base text-warning-300"></i>
                    </div>

                    <div class="text-muted mb-3">74 reviews</div>

                    <button type="button" class="btn bg-teal-400"><i class="icon-cart-add mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>*@

</div>


<!-- /grid -->
<!-- Pagination -->
<div class="d-flex justify-content-center pt-3 mb-3">
    <ul class="pagination">
        <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left12"></i></a></li>
        <li class="page-item active"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right13"></i></a></li>
    </ul>
</div>
<!-- /pagination -->
@*<div id="cotizacionContainer">

        @Html.Partial("~/Views/Productos/_ModalCotizacion.cshtml")

    </div>*@



