﻿@model Biomedicina.Models.ProductoViewModel
@{
    ViewBag.Title = "ResultadosProducto";

    var lstProductos = Model.lstProducto;

}

@*<h2>ResultadosProducto</h2>*@

<!-- Inner container -->
<div class="d-flex align-items-start flex-column flex-md-row">

    <!-- Left content -->
    <div class="w-100 overflow-auto order-2 order-md-1" id="divResultadosProductos">

        @Html.Partial("~/Views/Productos/_Resultados.cshtml", Model)


    </div>
    <!-- /left content -->
    <!-- Right sidebar component -->
    <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

        <!-- Sidebar content -->
        <div class="sidebar-content">

            @Html.Partial("~/Views/Productos/_FormFiltro.cshtml", Model)

        </div>
        <!-- /sidebar content -->

    </div>
    <!-- /right sidebar component -->

</div>
<!-- /inner container -->