﻿@model Biomedicina.Models.ProductoViewModel
@{
    ViewBag.Title = "VerDetalleProducto";
    var lstProductos = Model.lstProducto;
}


@*<h2>VerDetalleProducto</h2>*@

<div class="row">

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/global_assets/images/placeholders/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">@lstProductos.FirstOrDefault().Nombre</div>
                        <span class="font-size-sm text-muted">@lstProductos.FirstOrDefault().Nombre_empresa</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="col-lg-9">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@lstProductos.FirstOrDefault().Nombre</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-4">
                            <h6 class="font-weight-semibold">Informacion del producto</h6>
                            <p class="mb-2">Marca :</p>
                            <p class="mb-2">Modelo :</p>

                            <p class="mb-2">Procedencia :</p>

                            @*<input type="text" class="form-control typeahead-basic" placeholder="States of USA">*@

                            @if (Session["UserID"] != null)
                            {
                                <button type="button" class="btn bg-teal-400" onclick="openModalCotizacion(@lstProductos.FirstOrDefault().Id)" data-target="#modal_form_horizontal"><i class="icon-cart-add mr-2"></i> Solicitar cotización</button>

                            }
                            else
                            {
                                @*<button type="button" class="btn bg-teal-400" onclick="openModalCotizacion(@lstProductos.FirstOrDefault().Id)" data-target="#modal_form_horizontal"><i class="icon-cart-add mr-2"></i> Solicitar cotización</button>*@
                                <a class="btn bg-teal-400" href="#" data-toggle="modal" data-target="#modal-tabbed">Solicitar cotización</a>

                            }

                        </div>


                    </div>

                    <div class="col-md-6">
                        <div class="mb-4">
                            <h6 class="font-weight-semibold">Informacion de la empresa</h6>
                            <p class="mb-2">@lstProductos.FirstOrDefault().Nombre_empresa </p>

                            <p class="mb-2">Año de inicio de operaciones </p>
                            <p class="mb-2">Rubro</p>


                            <button type="button" class="btn bg-teal-400" onclick="openModalCotizacion(@lstProductos.FirstOrDefault().Id)" data-target="#modal_form_horizontal"><i class="icon-cart-add mr-2"></i> Mas informacion de la empresa</button>

                            @*<input type="text" class="form-control typeahead-custom-templates" placeholder="Oscar winners for Best Picture">*@
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>



</div>


<!-- Course overview -->


<div class="card">
    <div class="card-header header-elements-md-inline">
        <h5 class="card-title">Detalle</h5>


    </div>

    <div class="nav-tabs-responsive bg-light border-top">
        <ul class="nav nav-tabs nav-tabs-bottom flex-nowrap mb-0">
            <li class="nav-item"><a href="#course-overview" class="nav-link active" data-toggle="tab"><i class="icon-menu7 mr-2"></i> Descripcion del Producto</a></li>
            <li class="nav-item"><a href="#course-attendees" class="nav-link" data-toggle="tab"><i class="icon-people mr-2"></i> Especificaciones Técnicas</a></li>
            <li class="nav-item"><a href="#course-schedule" class="nav-link" data-toggle="tab"><i class="icon-calendar3 mr-2"></i> Ficha Técnica</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="course-overview">
            <div class="card-body">
                <div class="mt-1 mb-4">
                    <h6 class="font-weight-semibold">GG</h6>
                    <p>@lstProductos.FirstOrDefault().Descripcion</p>
                    @*<p>Then sluggishly this camel learned woodchuck far stretched unspeakable notwithstanding the walked owing stung mellifluously glumly rooster more examined one that combed until a less less witless pouted up voluble timorously glared elaborate giraffe steady while grinned and got one beaver to walked. Connected picked rashly ocelot flirted while wherever unwound much more one inside emotionally well much woolly amidst upon far burned ouch sadistically became.</p>*@
                    @*<p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>*@
                </div>

                @*<h6 class="font-weight-semibold">What you will learn</h6>*@
                @*<p class="mb-3">Some cow goose out and sweeping wow the skillfully goodness one crazily far some jeez darn well so peevish pending nudged categorically in between about much alas handsome intolerable devotedly helpfully smiled momentously next much this this next sweepingly far. Together prim and limpet much extravagantly quail longing a ouch that walking a jeepers flamingo more.</p>*@



            </div>

        </div>

        <div class="tab-pane fade" id="course-attendees">
            <div class="card-body">
                <h6 class="font-weight-semibold">GG</h6>
                <p>@lstProductos.FirstOrDefault().Espec_tecnica</p>

                <table class="table table-bordered table-lg">
                    <tbody>
                        <tr class="table-active">
                            <th colspan="2">Control buttons and icons</th>
                        </tr>
                        <tr>
                            <td class="wmin-md-300">Capacidad</td>

                            <td>@lstProductos.FirstOrDefault().Capacidad</td>
                        </tr>
                        <tr>
                            <td>Dimension</td>

                            <td>@lstProductos.FirstOrDefault().Dimension</td>
                        </tr>
                        <tr>
                            <td>Energia</td>

                            <td>@lstProductos.FirstOrDefault().Energia</td>
                        </tr>
                        <tr>
                            <td>Potencia</td>

                            <td>@lstProductos.FirstOrDefault().Potencia</td>
                        </tr>
                        <tr>
                            <td>Temperatura</td>

                            <td>@lstProductos.FirstOrDefault().Temperatura</td>
                        </tr>
                        <tr>
                            <td>Temporarizador</td>

                            <td>@lstProductos.FirstOrDefault().Temporizador</td>
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="course-schedule">
            <div class="card-body">
                <div class="schedule"></div>
                <div class="card">
                    <div class="card-header bg-transparent header-elements-inline">
                        <h6 class="card-title font-weight-semibold">
                            <i class="icon-folder6 mr-2"></i>
                            Archivo
                        </h6>

                        <div class="header-elements">
                            <span class="text-muted">(93)</span>
                        </div>
                    </div>

                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="icon-file-pdf mr-3"></i>
                            Ficha_tecnica.pdf <span class="badge bg-success-400 ml-auto">New</span>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /course overview -->
<div id="cotizacionContainer">

    @Html.Partial("~/Views/Productos/_ModalCotizacion.cshtml")

</div>