﻿@model Biomedicina.Models.Producto

<!-- Search field -->
<div class="card">
    <div class="card-body">
        <div class="jui-tabs-basic" data-fouc>
            <ul>
                <li><a href="#tabs-basic-1"><i class="icon-menu7 mr-2"></i> Productos</a></li>
                <li><a href="#tabs-basic-2">Servicios <i class="icon-mention ml-2"></i></a></li>
            </ul>
            <div id="tabs-basic-1">
                <h5 class="mb-3">Productos</h5>

                @using (Html.BeginForm("Resultados", "Productos", FormMethod.Post))
                {
                    <div class="input-group mb-3">
                        <div class="form-group-feedback form-group-feedback-left">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control form-control-lg alpha-grey" } })

                            <input type="hidden" id="categoria_producto" name="Id_categoria" />

                            @*<input type="text" class="form-control form-control-lg alpha-grey" value="Limitless interface kit" placeholder="Search">*@

                            @*<input type="text" class="form-control" placeholder="Type 'ac'" id="ac-remote" name="ac-remote">*@
                            <div class="form-control-feedback form-control-feedback-lg">
                                <i class="icon-search4 text-muted"></i>
                            </div>
                        </div>

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
                        </div>
                    </div>

                    <div class="d-md-flex align-items-md-center flex-md-wrap text-center text-md-left">
                        <ul class="list-inline list-inline-condensed mb-0">
                            <li class="list-inline-item dropdown">
                                <a href="#" class="btn btn-link text-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-stack2 mr-2"></i>
                                    All categories
                                </a>

                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item"><i class="icon-question7"></i> Getting started</a>
                                    <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Registration</a>
                                    <a href="#" class="dropdown-item"><i class="icon-reading"></i> General info</a>
                                    <a href="#" class="dropdown-item"><i class="icon-gear"></i> Your settings</a>
                                    <a href="#" class="dropdown-item"><i class="icon-graduation"></i> Copyrights</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item"><i class="icon-mail-read"></i> Contacting authors</a>
                                </div>
                            </li>
                            <li class="list-inline-item"><a href="#" class="btn btn-link text-default"><i class="icon-reload-alt mr-2"></i> Refine your search</a></li>
                        </ul>

                        <ul class="list-inline mb-0 ml-md-auto">
                            <li class="list-inline-item"><a href="#" class="btn btn-link text-default"><i class="icon-make-group mr-2"></i> Browse articles</a></li>
                            <li class="list-inline-item"><a href="#" class="btn btn-link text-default"><i class="icon-menu7 mr-2"></i> Advanced search</a></li>
                        </ul>
                    </div>
                }
   
            </div>
            <div id="tabs-basic-2">
                <h5 class="mb-3">Servicios</h5>
                <form action="#">
                    <div class="input-group mb-3">
                        <div class="form-group-feedback form-group-feedback-left">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control form-control-lg alpha-grey" } })

                            @*<input type="text" class="form-control form-control-lg alpha-grey" value="Limitless interface kit" placeholder="Search">*@

                            @*<input type="text" class="form-control" placeholder="Type 'ac'" id="ac-remote" name="ac-remote">*@
                            <div class="form-control-feedback form-control-feedback-lg">
                                <i class="icon-search4 text-muted"></i>
                            </div>
                        </div>

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary btn-lg">Search</button>
                        </div>
                    </div>

                    <div class="d-md-flex align-items-md-center flex-md-wrap text-center text-md-left">
                        <ul class="list-inline list-inline-condensed mb-0">
                            <li class="list-inline-item dropdown">
                                <a href="#" class="btn btn-link text-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-stack2 mr-2"></i>
                                    All categories
                                </a>

                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item"><i class="icon-question7"></i> Getting started</a>
                                    <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Registration</a>
                                    <a href="#" class="dropdown-item"><i class="icon-reading"></i> General info</a>
                                    <a href="#" class="dropdown-item"><i class="icon-gear"></i> Your settings</a>
                                    <a href="#" class="dropdown-item"><i class="icon-graduation"></i> Copyrights</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item"><i class="icon-mail-read"></i> Contacting authors</a>
                                </div>
                            </li>
                            <li class="list-inline-item"><a href="#" class="btn btn-link text-default"><i class="icon-reload-alt mr-2"></i> Refine your search</a></li>
                        </ul>

                        <ul class="list-inline mb-0 ml-md-auto">
                            <li class="list-inline-item"><a href="#" class="btn btn-link text-default"><i class="icon-make-group mr-2"></i> Browse articles</a></li>
                            <li class="list-inline-item"><a href="#" class="btn btn-link text-default"><i class="icon-menu7 mr-2"></i> Advanced search</a></li>
                        </ul>
                    </div>
                </form>
            </div>
       
        </div>
    </div>
</div>
<!-- /search field -->
<!-- Inner container -->
<div class="d-flex align-items-start flex-column flex-md-row">

 

</div>
<!-- /inner container -->










