﻿@model Biomedicina.Models.ProductoViewModel
@{
    ViewBag.Title = "ResultadosProducto";

    var lstProductos = Model.lstProducto;

}

<h2>ResultadosProducto</h2>

<!-- Inner container -->
<div class="d-flex align-items-start flex-column flex-md-row">

    <!-- Left content -->
    <div class="w-100 overflow-auto order-2 order-md-1">

        <!-- Grid -->
        <div class="row">
            @for (int i = 0; i < lstProductos.Count; i++)
            {

                <div class="col-xl-3 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-img-actions">
                                <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" data-popup="lightbox">
                                    <img src="~/Content/global_assets/images/placeholders/placeholder.jpg" class="card-img" width="96" alt="">
                                    <span class="card-img-actions-overlay card-img">
                                        <i class="icon-plus3 icon-2x"></i>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-0">
                                    <a href="#" class="text-default">@lstProductos[i].Nombre</a>
                                </h6>

                                <a href="#" class="text-muted">@lstProductos[i].Nombre_categoria</a>
                            </div>

                            <h3 class="mb-0 font-weight-semibold">$49.99</h3>

                            <div>
                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            </div>

                            <div class="text-muted mb-3">85 reviews</div>

                            @*<button type="button" class="btn bg-teal-400"><i class="icon-cart-add mr-2"></i> Add to cart</button>*@
                        </div>
                    </div>
                </div>



            }
            @*<div class="col-xl-3 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" data-popup="lightbox">
                                <img src="~/Content/global_assets/images/placeholders/placeholder.jpg" class="card-img" width="96" alt="">
                                <span class="card-img-actions-overlay card-img">
                                    <i class="icon-plus3 icon-2x"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="font-weight-semibold mb-0">
                                <a href="#" class="text-default">Fathom Backpack</a>
                            </h6>

                            <a href="#" class="text-muted">Men's Accessories</a>
                        </div>

                        <h3 class="mb-0 font-weight-semibold">$49.99</h3>

                        <div>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        </div>

                        <div class="text-muted mb-3">85 reviews</div>

                        <button type="button" class="btn bg-teal-400"><i class="icon-cart-add mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" data-popup="lightbox">
                                <img src="~/Content/global_assets/images/placeholders/placeholder.jpg" class="card-img" width="96" alt="">
                                <span class="card-img-actions-overlay card-img">
                                    <i class="icon-plus3 icon-2x"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="font-weight-semibold mb-0">
                                <a href="#" class="text-default mb-0">Mystery Air Long Sleeve T Shirt</a>
                            </h6>

                            <a href="#" class="text-muted">Men's Fashion</a>
                        </div>

                        <h3 class="mb-0 font-weight-semibold">$25.99</h3>

                        <div>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-half font-size-base text-warning-300"></i>
                        </div>

                        <div class="text-muted mb-3">34 reviews</div>

                        <button type="button" class="btn bg-teal-400"><i class="icon-cart-add mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" data-popup="lightbox">
                                <img src="~/Content/global_assets/images/placeholders/placeholder.jpg" class="card-img" width="96" alt="">
                                <span class="card-img-actions-overlay card-img">
                                    <i class="icon-plus3 icon-2x"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="font-weight-semibold mb-0">
                                <a href="#" class="text-default mb-0">Women’s Prospect Backpack</a>
                            </h6>

                            <a href="#" class="text-muted">Women's Accessories</a>
                        </div>

                        <h3 class="mb-0 font-weight-semibold">$63.99</h3>

                        <div>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-empty3 font-size-base text-warning-300"></i>
                        </div>

                        <div class="text-muted mb-3">63 reviews</div>

                        <button type="button" class="btn bg-teal-400"><i class="icon-cart-add mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" data-popup="lightbox">
                                <img src="~/Content/global_assets/images/placeholders/placeholder.jpg" class="card-img" width="96" alt="">
                                <span class="card-img-actions-overlay card-img">
                                    <i class="icon-plus3 icon-2x"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="font-weight-semibold mb-0">
                                <a href="#" class="text-default mb-0">Overlook Short Sleeve T Shirt</a>
                            </h6>

                            <a href="#" class="text-muted">Men's Fashion</a>
                        </div>

                        <h3 class="mb-0 font-weight-semibold">$57.99</h3>

                        <div>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                            <i class="icon-star-full2 font-size-base text-warning-300"></i>
                        </div>

                        <div class="text-muted mb-3">74 reviews</div>

                        <button type="button" class="btn bg-teal-400"><i class="icon-cart-add mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>*@

        </div>

       
        <!-- /grid -->
        <!-- Pagination -->
        <div class="d-flex justify-content-center pt-3 mb-3">
            <ul class="pagination">
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left12"></i></a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right13"></i></a></li>
            </ul>
        </div>
        <!-- /pagination -->

    </div>
    <!-- /left content -->

    <!-- Right sidebar component -->
    <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

        <!-- Sidebar content -->
        <div class="sidebar-content">

            @Html.Partial("~/Views/Productos/_FormFiltro.cshtml", Model)


        </div>
        <!-- /sidebar content -->

    </div>
    <!-- /right sidebar component -->

</div>
<!-- /inner container -->